
<div class="card">
  <div class="card-header">
    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
      <input #searchquery (keyup)="onSearchKeyUp(searchquery.value)" type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
    </div>
  </div>
  <div class="card-block">
    <table class="table table-responsive table-bordered">
      <thead class="thead-default">
      <tr>
        <th>#</th>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Geburtsdatum</th>
        <th>Strasse</th>
        <th>Postleitzahl</th>
        <th>Ort</th>
        <th>Anzahlbestellungen</th>
        <th>Aktionen</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of filteredCustomers; let i = index">
        <th scope="row">{{i}}</th>
        <td>{{customer.firstName}}</td>
        <td>{{customer.lastName}}</td>
        <td>{{customer.birthdate}}</td>
        <td>{{customer.street}}</td>
        <td>{{customer.postcode}}</td>
        <td>{{customer.city}}</td>
        <td>
          <div class="btn-group" role="group">
            <a class="btn btn-xs btn-default" href="#"><i class="fa fa-info" aria-hidden="true"></i></a>
            <a class="btn btn-xs btn-default" href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
          </div>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
</div>



